.container {
    width: 60%;
    margin: 39px auto;
    background-color: #fff;
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-group {
    padding: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    height: 30px;
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

.form-actions button {
    font-weight: bold;
    color: #17275A;
    padding: 18px 20px;
    margin: 0 33px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button[type="submit"] {
    background-color: #F9DE4B;
}

.form-actions button[type="button"]:disabled {
    background-color: #EAECF2;
    color: #B9BCB3;
    cursor: not-allowed;
}

.form-actions button[type="submit"]:disabled {
    background-color: #FFF199;
    color: #B9BCB3;
    cursor: not-allowed;
}

.footer{
    text-align: center;
    margin-bottom: 15px;
}

.footer a{
    text-align: center;
    text-decoration: none;
    background-color: #F9DE4B;
    font-size: small;
    color: #767774;
    padding: 9px;
    border-radius: 3px;
}

/* You can add more responsiveness as needed */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .form-container {
        display: grid;
        grid-template-columns: 100%;
    }
}