.container {
    width: 90%;
    margin: 60px auto;
    font-size: small;

}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.search-bar input[type="text"] {
    height: 30px;
    padding: 3px 9px;
    border: 1px solid #D3D4D5;
    border-radius: 6px;
}

.search-bar-container button {
    font-weight: bold;
    color: #17275A;
    background-color: #F9DE4B;
    padding: 18px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-responsive {
    overflow-x: auto;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F4F6F9;
}

.product-logo {
    width: 50px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 21px;
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 100%; /* Hace que el menú se expanda hacia arriba */
    right: 0; 
}

.dropdown-content button {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.custom-dialog {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.custom-dialog p {
    color: black;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.dialog-buttons {
    padding: 15px 15px;
    display: flex;
    justify-content: space-around; 
}

.cancel-button, .confirm-button {
    border: none;
    border-radius: 5px;
    padding: 12px 55px;
    cursor: pointer;
    font-weight: bold;
}

.cancel-button {
    background-color: #F4F6F9;
    color: #17275A; 
}

.confirm-button {
    background-color: #F9DE4B;
    color: #17275A; 
}

.pagination-button{

    padding: 10px 10px;
}

.pagination button.confirm-button:disabled{
    
    background-color: #FFF199;
    color: #B9BCB3;
    cursor: not-allowed;
}

.pagination button.cancel-button:disabled{
    
    background-color: #EAECF2;
    color: #B9BCB3;
    cursor: not-allowed;
}

.pagination-select{
    padding: 6px 6px;
    border: 1px solid #17275A;
    border-radius: 3px;
}