<table>
    <thead>
        <tr>
            <th> Logo </th>
            <th> Nombre del producto </th>
            <th> Descripcion </th>
            <th> Fecha de liberacion </th>
            <th> Fecha de reestructuracion </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td> {{product.logo}} </td>
            <td> {{product.name}} </td>
            <td> {{product.description}} </td>
            <td> {{product.date_release}} </td>
            <td> {{product.date_revision}} </td>
            <td> 
                <button (click)="editProduct(product)">Editar</button>
                <button (click)="openDialog(product)">Eliminar</button> 
            </td>
        </tr>
    </tbody>
</table>

<dialog #dialog>
    <h2>¿Estás seguro de eliminar el producto {{productToDelete.name}}? </h2>
    <button (click)="closeDialog()">Cancelar</button>
    <button (click)="deleteProduct()">Confirmar</button>
</dialog>
