<div class="container">

    <div class="search-bar-container">

        <div class="search-bar">
            <input #inputSearch (keyup)="onSearch(inputSearch.value)" type="text" placeholder="Search..." >
        </div>
        <div>
            <button routerLink="crear">Agregar</button>
        </div>
    </div>

    <div class="table-responsive">

        <table>
            <thead>
                <tr>
                    <th> Logo </th>
                    <th> Nombre del producto </th>
                    <th> Descripción </th>
                    <th> Fecha de liberación </th>
                    <th> Fecha de reestructuración </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | filter:page:recordsPerPage:search">
                    <td> <img [src]="product.logo" [alt]="product.name" [ngStyle]="{'border-radius': '50%', 'width': '36px', 'height': '36px'}"> </td>
                    <td> {{product.name}} </td>
                    <td> {{product.description}} </td>
                    <td> {{product.date_release | date:'dd/MM/YYYY'}} </td>
                    <td> {{product.date_revision | date:'dd/MM/YYYY'}} </td>
                    <td> 
                        <div class="dropdown">
                            <button class="dropbtn">⋮</button>
                            <div class="dropdown-content">
                              <button (click)="editProduct(product)">Editar</button>
                              <button (click)="openDialog(product)">Eliminar</button> 
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div>
                <span *ngIf="search != '' else NotSearch">{{(products | filter:page:recordsPerPage:search).length}} Resultados</span>
                <ng-template #NotSearch>
                    <span>{{products.length}} Resultados</span>
                </ng-template>
                
            </div>
            <div>
                <button class="cancel-button pagination-button" (click)="onPrevPage()" [disabled]="page === 0 || search != ''">Anterior</button>
                    &nbsp;
                <select class="pagination-select" (change)="onRecordsPerPageChange($event)" name="recordsPerPage" id="recordsPerPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                    &nbsp;
                <button class="confirm-button pagination-button" (click)="onNextPage()" [disabled]="((page * recordsPerPage) + recordsPerPage) >= products.length || search != ''">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<dialog #dialog class="custom-dialog">
    <p>¿Estás seguro de eliminar el producto <span>{{productToDelete.name}}</span>?</p>
    <hr>
    <div class="dialog-buttons">
        <button class="cancel-button" (click)="closeDialog()">Cancelar</button>
        <button class="confirm-button" (click)="deleteProduct()">Eliminar</button>
    </div>
</dialog>