
<div class="header">    
    <!-- <div class="home-button">
        <a routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3.293l-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293l-6-6zM1 8.5v5a2.5 2.5 0 0 0 2.5 2.5h9A2.5 2.5 0 0 0 15 13.5v-5l-7-7-7 7z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l7.5 7.5a1 1 0 0 1-1.414 1.414L8 3.414 1.707 10.414a1 1 0 1 1-1.414-1.414l7.5-7.5z"/>
            </svg>
        </a>
    </div> -->

    <img class="header-logo" src="https://i.revistapym.com.co/old/2018/09/Pichincha-nueva-imagen.jpg" alt="Banco Pichincha Logo">
    
</div>

<router-outlet></router-outlet>

